# macOS
.DS_Store

# Python virtual environments
.env
.venv/
venv/

# Python build artifacts
*.egg-info/

# Logs and junk
*.log
__pycache__/
*.pyc

#my testing files
src/battle.py
src/sysarg.py
src/argparse_test.py

# Generated/temporary directories
contracts/
comments_net/
comments/
build/